
.my-0 {
    padding: 0rem 1rem;
}

.margin-0 {
    margin-right: 0;
    margin-left: 0;
}

.heading-padding {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.big-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -.4px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.56;
    letter-spacing: -.4px;
}

.subtitle {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -.2px;
}

.mb-0 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: -.2px;
}

.small-text {
    padding-top: 0.2rem;
    padding-bottom: 2rem;
}

.margin-top-0 {
    margin-top: 0;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-96 {
    padding-bottom: 96px !important;
}

.btn-primary {
    color: #fff;
    background-color: $blue;
    border-color: $blue;

    background-image: linear-gradient(135deg,#28a8e8,#2080e0 50%,#28a8e8);
    background-size: 250%;
}

.btn-primary:hover {
    color: #fff;
    background-color: $blue;
    border-color: $blue;
    box-shadow: 0 7px 20px 0 rgb(40 160 230 / 30%);
    background-position: 100%;
}

.btn-outline-primary, .btn-outline-primary:hover {
    color: $blue;
    background-color: transparent;
    background-image: none;
    border-color: $blue;
}

.btn-outline-primary:hover {
    box-shadow: 0 7px 20px 0 rgb(40 160 230 / 30%);
    background-position: 100%;
}

.bg-promote {
    background: linear-gradient(87deg, $blue 0, $blue 100%) !important
}

.badge-success {
    color: $blue;
    background-color: rgba(40, 160, 230, 0.2);
}

.icon-shape-success {
    color: $blue;
    background-color: rgba(255, 255, 255, 0.9);
}